*,
*::before,
*::after {
  box-sizing: border-box;
}
:root {
  --dark-bg: #2f303a;
  --blue: #2196f3;
  --black: #000000;
  --light-black: #212121;
  --white: #ffffff;
  --grey: #757575;
  --transparentwhite: rgba(255, 255, 255, 0.6);
  --light-grey: #f5f4fa;
  --light-grey-dif: #afb1b8;
}
body {
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--grey);
}
address {
  font-style: normal;
}
a {
  text-decoration: none;
}
h1,
h2,
h3 {
  margin: 0;
  padding: 0;
}
.list {
  list-style: none;
  margin: 0;
  padding: 0;
}
.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}
.header {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding-top: 24px;
  padding-bottom: 25px;
}
.combine-nav-addr {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.nav-logo-list {
  display: flex;
  justify-content: flex-start;
}
.nav-list {
  display: flex;
  align-items: center;
}
.nav-item {
  margin-right: 50px;
  position: relative;
}
.nav-item:last-child {
  margin-right: 0;
}
.logo {
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  margin-right: 93px;
}
.logo .web {
  color: var(--blue);
}
.logo .stud {
  color: var(--black);
}
.nav > li > a {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--light-black);
}
.nav .studio {
  color: var(--blue);
}

.studio > .nav-link::after {
  content: "";
  position: absolute;
  bottom: -32px;
  left: 0;
  height: 4px;
  min-width: 48px;
  border: 1px solid var(--blue);
  border-radius: 2px;
  overflow: visible;
  background-color: var(--blue);
}
.nav-link:hover,
.nav-link:focus {
  color: var(--blue);
}

.nav-link {
  display: block;
}

.addr > a {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
  color: var(--grey);
}
.addr > a:focus,
.addr > a:hover {
  color: var(--blue);
  fill: var(--blue, #2196f3);
}
.addr {
  display: flex;
  align-items: center;
}
.addr-indent {
  display: flex;
  align-items: center;
  margin-right: 50px;
}
.addr-indent:last-child {
  margin-right: 0;
}
.addr-indent:hover .mail-icon,
.addr-indent:hover .tel-icon,
.addr-indent:focus .mail-icon,
.addr-indent:focus .tel-icon {
  fill: var(--blue, #2196f3);
}
.mail-icon {
  fill: var(--color3, #757575);
  margin-right: 10px;
  width: 16px;
  height: 12px;
}
.tel-icon {
  fill: var(--color3, #757575);
  margin-right: 10px;
  width: 10px;
  height: 16px;
}
.button {
  display: inline-block;
  margin-top: 50px;
  border: 1px solid#2196f3;
  border-radius: 4px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 32px;
  padding-left: 32px;
}
.backdrop {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.2);
}
.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}
.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  width: 528px;
  height: 581px;

  background-color: var(--white);
  display: block;
  border-radius: 4px;
}
.closeModalBtn {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  background-color: var(--white);
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.icon-close {
  width: 11px;
  height: 11px;
}
.form-request {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  padding: 40px;
}
.form-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;

  color: var(--light-black);
  margin-bottom: 12px;
}
.label-request {
  display: flex;
  flex-direction: column;
  margin-bottom: 4px;
}
.label-request:last-child {
  margin-bottom: 20px;
}
.input-request {
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  height: 40px;
  resize: none;
  padding: 12px 42px;
}
.person-request {
  position: relative;
}
.div-icon-person-request {
}
.icon-person-request {
  position: absolute;
  top: 50%;
  left: 12px;
  width: 18px;
  height: 18px;
  transform: translateY(-50%);
}
.label-request .textarea {
  height: 120px;
  padding: 12px 16px;

  margin-bottom: 20px;
}
.link-agreement-conditions {
  color: var(--blue);
  text-decoration: underline;
}
.btn-submit-requests {
  margin: 0 auto;
  width: 200px;
  background-color: var(--blue);
  color: var(--white);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  text-align: center;
  justify-content: center;
  letter-spacing: 0.06em;
  display: inline-block;
  margin-top: 50px;
  border: 1px solid#2196f3;
  border-radius: 4px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 32px;
  padding-left: 32px;
}
.hero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--dark-bg);
  background-image: linear-gradient(
      to right,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../images/hero/overlay.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 600px;
  max-width: 1600px;
  margin-left: auto;
  margin-right: auto;
}
.hero-div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 600px;
}
.title-hero {
  width: 696px;
  margin: 0;
  padding: 0;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--white);
}
.hero .openModalBtn {
  background-color: var(--blue);
  color: var(--white);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  text-align: center;
  letter-spacing: 0.06em;
}
.characteristics {
  display: flex;
}
.characteristics h3 {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--light-black);
}
.characteristics-list {
  width: 270px;
  padding-top: 94px;
  padding-bottom: 94px;
  margin-right: 30px;
}
.characteristics-list:last-child {
  margin-right: 0;
}
.icon-char {
  display: block;
  width: 70px;
  height: 70px;
  width: 100%;
}
.icon-char-div {
  height: 120px;
  width: 100%-30px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--light-grey);
  margin-bottom: 30px;
}
.work {
  padding-bottom: 94px;
}
.work h2 {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--light-black);
  margin-bottom: 50px;
}
.work-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}
.work-item {
  margin-right: 30px;
}
.work-item:nth-child(3n) {
  margin-right: 0;
}
.img-work {
  position: relative;
  height: 294px;
}
.div-work-description {
  position: absolute;
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: center;
  text-align: center;
  width: 370px;
  height: 70px;
  background-color: rgba(47, 48, 58, 0.8);
  padding: 27px 82px;
}
.work-description {
  height: 16px;
  margin: 0;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--white);
}
.team {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: var(--light-grey);
  max-width: 1600px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 94px;
  padding-bottom: 124px;
}
.team h2 {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--light-black);
  margin-bottom: 50px;
}
.team .name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--light-black);
}
.team .prof {
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
}
.team-list {
  flex-wrap: wrap;
  display: flex;
  justify-content: center;
}
.team-item {
  background-color: var(--white);
  margin-right: 30px;
  box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.2),
    0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
}
.team-item:nth-child(4n) {
  margin-right: 0;
}
.sotial-list {
  display: flex;
  justify-content: space-between;
  padding-top: 16px;
  padding-bottom: 30px;
  padding-left: 32px;
  padding-right: 32px;
}
.sotial-list-item {
  width: 44px;
  height: 44px;
}
.sotial-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
}
.sotial-icon {
  fill: var(--color1, #afb1b8);
  width: 20px;
  height: 20px;
}
.sotial-list-item .sotial-link:hover,
.sotial-list-item .sotial-link:focus {
  border: 1px solid var(--blue);
  background-color: var(--blue);
  border-radius: 50%;
}
.sotial-list-item .sotial-link:hover .sotial-icon,
.sotial-list-item .sotial-link:focus .sotial-icon {
  fill: var(--white);
}
.regular-customers {
  padding: 94px 0;
}
.regular-customers .header-regular-customers {
  font-size: 36px;
  font-weight: 700;
  line-height: 1.7;
  letter-spacing: 0.03em;
  text-align: center;
  color: var(--light-black);
  margin-bottom: 50px;
}
.regular-customers .list-regular-customers {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.regular-customers .list-regular-customers .item-list-regular-customers {
  width: 170px;
  height: 90px;
  border: 1px solid var(--light-grey-dif);
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.regular-customers .list-regular-customers .link-regular-customers:hover,
.regular-customers .list-regular-customers .link-regular-customers:focus {
  border: 1px solid var(--blue);
}
.regular-customers
  .list-regular-customers
  .link-regular-customers:hover
  .icon-regular-customers,
.regular-customers
  .list-regular-customers
  .link-regular-customers:focus
  .icon-regular-customers {
  fill: var(--blue);
}
.link-regular-customers {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.icon-regular-customers {
  fill: var(--color1, #afb1b8);
}
.footer {
  max-width: 1600px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: var(--dark-bg);
}
.footer .logo .stud {
  color: var(--white);
}
.footer .logo {
  margin-bottom: 20px;
  margin-right: 0;
}
.footer .sotial-list {
  margin: 0;
  padding: 0;
}
.contacts p {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--white);
  margin-bottom: 9px;
}
.contacts a {
  display: block;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--transparentwhite);
}
.contacts a:not(:last-child) {
  margin-bottom: 9px;
}
.title-footer-sotial-list {
  font-family: Roboto;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--white);
  margin-bottom: 20px;
}
.combine-footer {
  display: flex;
  justify-content: flex-start;
}
.footer .sotial-div {
  padding-top: 12px;
  margin-left: 70px;
}
.footer .sotial-icon {
  fill: var(--white);
  width: 20px;
  height: 20px;
}
.footer .sotial-link {
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
}

.footer .sotial-list-item {
  margin-right: 10px;
}
.footer .sotial-list-item:last-child {
  margin-right: 0;
}
